body {
    font-family: sans-serif;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

img {
width: 350px;
Height: 350px;
}