body {
    font-family: sans-serif;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    color: honeydew;
    }

img {
width: 350px;
Height: 350px;
}

.purple {
    background-color: blueviolet;
}

.goldenrod {
    background-color: goldenrod;
}

.pink {
    background-image: linear-gradient(to bottom right,magenta, cyan, #FF6700);
}

.links {
    color: honeydew;
}